<div class="row intro">
	<div class="small-12 columns">
		<h3>Let's make something great together.</h3>
		<p>To find out more, see our portfolio, or talk to us about getting your brand message across simply and clearly, please get in touch.</p>
	</div>
</div>
<div class="row contact-us">
	<div class="row" data-tab data-equalizer>
		<div class="small-12 medium-6 columns contact" data-equalizer-watch>
			<h2>Say Hello!</h2>
			<p>Questions, advice or just want to share some love? We love compliments.</p>
			<a class="button" href="#panel1-a">Contact us</a>
		</div>
		<div class="small-12 medium-6 columns inquiries" data-equalizer-watch>
			<h2>Have a project in mind</h2>
			<p>We've prepared a simple project planner to get to know you and your project better.</p>
			<a class="button" href="#panel1-b">Inquiries</a>
		</div>
	</div>

	<div class="row">
		<div class="tabs-content">
			<div class="content" id="panel1-a">
				<div class="row">
					<div class="small-12 medium-4 medium-centered columns">
						<div class="info">
							<div class="title">Email:</div>
							<div><a href="mailto:info@studiob4.com">info@studiob4.com</a></div>
						</div>
						<!-- <div class="info">
							<div class="title">Phone number:</div>
							<div>800-222-3456</div>
						</div> -->
					</div>
				</div>
			</div>
			<div class="content" id="panel1-b">
				<div class="small-12 columns">
					<h2>Inquiries</h2>
					<p>Please fill out the form bellow. We will review all the information and will get back to you immediately.</p>
							<!-- BEGIN Podio web form -->
							<script src="https://podio.com/webforms/8547120/635883.js"></script>
							<script type="text/javascript">
							  _podioWebForm.render("635883")
							</script>
							<!-- END Podio web form --></div>
			</div>
		</div>
	</div>

</div>