<div class="services">
	<div class="row">
		<div class="small-12 medium-3 columns">
			<h2>Branding</h2>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>What is your story? Everyone of our clients has a unique story.  Our job at StudioB4 is to find the best way to translate that into a unique look, feel and strategy that will resonate with your customers.  From print to web and beyond, we work alongside you to craft a compelling story and develop an iconic brand that helps to engage an audience</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<h2>Graphic Design</h2>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>No idea is too small or far-fetched for our design team.  Whether you need us to help you with a few tweaks or a complete overhaul of your brand, StudioB4 has the ability to take ideas for a spin! And deliver memorable projects that take into account your entire creative strategy.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<div class="service-icon">
				<h2>Web Design | Development</h2>
			</div>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>The World Wide Web is here to stay and with it comes websites, apps and a myriad of digital and interactive tools at your disposal.  To be honest, we are a bit obsessed with helping clients take advantage of these new resources and can offer a few ideas on how to maximize their use or simply get you started.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<h2>Social Media Management</h2>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>Nowadays, the list of social media outlets is ever expanding.  Narrowing this list could be challenging but we have the capability to help you tap into these new platforms with ease.   At StudioB4 we can help you develop a presence, manage your existing accounts, or launch an interactive campaign.  Just ask us.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<div class="service-icon">
				<h2>Strategic Planning | Creative Direction</h2>
			</div>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>It is true what they say: “if you fail to plan, you plan to fail.” Our creative team will help you develop a strategy that positions your brand with the best opportunity to reach and sustain customers.  As a creative agency, we employ a comprehensive approach into everything we do, and it all begins with a plan.  Let us help with yours.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<div class="service-icon">
				<h2>Photography | Video</h2>
			</div>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>Our award winning photographers and videographers are able to develop captivating images  and audio-visual components to enhance any aspect of your project.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<div class="service-icon">
				<h2>Copywriting | Content Development</h2>
			</div>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>Sometimes we know what we want to say, but don’t know how.  Our talented team has a few word wizards on staff and together can write, edit, and even offer a few suggestions on how to craft your story.</p>
		</div>
	</div>
	<div class="row">
		<div class="small-12 medium-3 columns">
			<div class="service-icon">
				<h2>Translation (English/Spanish)</h2>
			</div>
		</div>
		<div class="small-12 medium-9 columns service">
			<p>With a fully bilingual staff, we are able to offer our complete range of services in both English and Spanish without skipping a beat! </p>
		</div>
	</div>
</div>